*{ margin:0; padding:0;
    text-decoration: none;
    }
    .body-div{
    margin-top: -40px;
    }
    body { font:12px/19px Arial, Helvetica, sans-serif; color:#E3E2E2; }
    .tab { width:auto;margin-left: 75px;margin-top: 40px;}
    .tab_menu { clear:both;}
    .tab_menu li { float:left; cursor:pointer; list-style:none; border-top:none; color: black;background-color: #e3e2e2;}
    .tab_menu li.hover { background: white;}
    .tab_menu li.selected {border-bottom: 2px #cea861 solid;}
    .tab_box { clear:both; height:340px; width: 820px;}
    .hide{display:none}
    .span{
        list-style: none;
        float: left;
        width: 164px;
        height: 40px;
        box-sizing: border-box;
        font-size: 14px;
        text-align: center;
        line-height: 40px;
        color: #424242;
        letter-spacing: 1px;
    }
    .spann{
        list-style: none;
        width: 164px;
        height: 40px;
        box-sizing: border-box;
        font-size: 18px;
        text-align: center;
        line-height: 40px;
        color: #676767;
        letter-spacing: 1px;
    }
    .spannn{
        position: relative;
        top: -10px;
        margin-left: 30px;
        list-style: none;
        width: 164px;
        height: 40px;
        box-sizing: border-box;
        font-size: 16px;
        text-align: center;
        line-height: 40px;
        color: #424242;
        letter-spacing: 1px;
    }
    .body{
        background-color: whitesmoke;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 360px;
    }
    .dhl{
        float: left;
        list-style: none;
        font-size: 18px;
        line-height: 30px;
        margin-left: 60px;
        margin-top: 15px;
        color: white;
    }
    .div-dhl{
        margin-left: 0px;
        margin-top: -5px;
        width: 100%;
        height: 100px;
        position: absolute;
        z-index: 1;
    }
    .div-dhll{
        font-size: 11px;
        text-align: center;
    }
    .div-shoushuo{
        float: right;
        position: relative;
        left: -450px;
        top: 20px;
    }
    .div-shoushuoo{
        float: right;
        position: relative;
        left: -380px;
        top: 20px;
    }
    .div-denglu{
        float: right;
        line-height: 10px;
        position: relative;
        left: -100px;
        top: 12px;
    }
    .div-dengluu{
        display: inline;
    }
    .div-span{
        position: relative;
        top: -15px;
    }
    .div-wenzhi{
        position: relative;
        top: 288px;
        left: -213px;
    }
    .div-wenzhii{
        position: absolute;
        top: 305px;
        left: 1180px;
        color: #888787;
        font-size: 14px;
    }
    .div-span1{
        color: #f5d185;
    }
    .div-span2{
     display: inline-block;
     width: 82px;
     height: 22px;
     text-align: center;
     border:2px solid #f5d185;
     font-size: 12px;
     line-height: 22px;
     background-color: rgb(0, 0, 0,0.65);
    }
    .body-img{
        position: absolute;
        top: 0px;
        width: 100%;
        height: 360px;
        overflow: hidden;
    }
    .body-imgg{
        width: 1920px;
        height: 100%;
        margin-left: -200px;
    }
    .div-2{
        width: 496px;
        height: 354px;
        position: absolute;
        top: 453px;
        left: 938px;
        z-index: 11;
    }
    .tab-li{
        position: absolute;
        top: 400px;
        left: 937px;
        z-index: 11;
    }
    .tab-li ul li{
        list-style: none;
        display: inline-block;
        margin-right: 74px;
    }
    .spann:hover{
        color: #0da0b4;
    }
    .tabb { width:auto;margin-left: 75px;margin-top: 40px;}
    .tabb .div-2 ul li{
        list-style: none;
        line-height: 41px;
        font-size: 14px;
        color: #424242;
    }
    .tabb-span{
        color: #0da0b4;
        font-size: 22px;
        font-weight: 700;
        text-align: center;
    }
    .tabb-span span:hover{
        color: #bb9a6c;
    }
    .divv:hover{
        color: #bb9a6c;
    }
    .shipin:hover{
        color: #e9852d;
    }
    .shaishi:hover{
        color: #6388c5;
    }
    .jiaoxue:hover{
        color: #4ba36a;
    }
    .e:hover{
        animation:mymove 1s infinite;
        -moz-animation:mymove 1s infinite; /* Firefox */
        -webkit-animation:mymove 1s infinite; /* Safari and Chrome */
        -o-animation:mymove 1s infinite; /* Opera */
    }
    .g:hover{
        animation:mymove 1s infinite;
        -moz-animation:mymove 1s infinite; /* Firefox */
        -webkit-animation:mymove 1s infinite; /* Safari and Chrome */
        -o-animation:mymove 1s infinite; /* Opera */
    }
    @keyframes mymove{
        0%{
            margin-left: 2px
        }
        25%{
            margin-left: 3px;
        }
        50%{
            margin-left: 4px;
        }
        75%{
            margin-left: 5px;
        }
        100%{
            margin-left: 6px;
        }
    }
    @-moz-keyframes mymove{
        0%{
            margin-left: 2px
        }
        25%{
            margin-left: 3px;
        }
        50%{
            margin-left: 4px;
        }
        75%{
            margin-left: 5px;
        }
        100%{
            margin-left: 6px;
        }
    }
    @-webkit-keyframes mymove{
        0%{
            margin-left: 2px
        }
        25%{
            margin-left: 3px;
        }
        50%{
            margin-left: 4px;
        }
        75%{
            margin-left: 5px;
        }
        100%{
            margin-left: 6px;
        }
    }@-o-keyframes mymove{
        0%{
            margin-left: 2px
        }
        25%{
            margin-left: 3px;
        }
        50%{
            margin-left: 4px;
        }
        75%{
            margin-left: 5px;
        }
        100%{
            margin-left: 6px;
        }
    }
   .tabb-div2{
       float: right;
       display: inline;
       color: #9d9d9d;
       font-size: 14px;
   }
   .tabb-div{
        display: inline-block;
        color: #bb9a6c;
        border: 1px #c5ab86 solid;
        font-size: 12px;
        width: 37px;
        height: 19px;
        line-height: 19px;
        text-align: center;
   }
   .tabb-div-shipin{
        display: inline-block;
        color: #e9852d;
        border: 1px #e9852d solid;
        font-size: 12px;
        width: 37px;
        height: 19px;
        line-height: 19px;
        text-align: center;
   }
   .tabb-div-shaishi{
        display: inline-block;
        color: #6388c5;
        border: 1px #97afc5 solid;
        font-size: 12px;
        width: 37px;
        height: 19px;
        line-height: 19px;
        text-align: center;
   }
   .tabb-div-jiaoxue{
        display: inline-block;
        color: #4ba36a;
        border: 1px #4ba36a solid;
        font-size: 12px;
        width: 37px;
        height: 19px;
        line-height: 19px;
        text-align: center;
   }
   .a{
       background-color: #e3e2e2;
       width: auto;
       height: auto;
       text-align: center;
       border-radius: 2px;
   }
   .a:hover{
       background-color: rgb(197, 197, 202);
   }
   .b{
       font-size: 14px;
       color: #7ea1a6;
   }
   .c{
       margin-top: 12px;
       margin-left: 144px;
   }
   .z{
       margin-left: 76px;
       margin-top: 40px;
       width: auto;
       height: auto;
   }
   .d{
       position: absolute;
       top: 800px;
       width: 100%;
       height: 100%;
       background-color: whitesmoke;
   }
   .e{
       position: absolute;
       top: 285px;
       width: 496px;
       height: 40px;
   }
   .zzz ul li{
       
       list-style: none;
        display: inline-block;
   }